@model DetailsVM
@{
	ViewData["Title"] = "Details";
}



<partial name="_LoggedInMenu" />
<partial name="_Logo" />

<h4>
	This is the detailed view of your participation to @Model.OrganizationName
</h4>

<div>
	<p>
		You started participating @Model.ParticipationDate.ToShortDateString()
		<br />
		Your participation amount: @Model.ParticipationAmount SEK
		<br />
		Your participation has generated @Model.ParticipationSumGenerated SEK
		<br />
		Your participation can be refunded from @Model.ParticipationEndDate?.ToShortDateString()
	</p>
</div>


<br />
<br />
<input type="submit" value="Convert to donation" />
<br />
<br />
<input type="submit" value="Refund" />