@model DetailsVM
@{
	ViewData["Title"] = "Details";
}



<partial name="_LoggedInMenu" />
<partial name="_Logo" />

<div>
	<h4>
		This is the detailed view of your participation to @Model.OrganizationName
	</h4>

	<p>
		You started participating @Model.ParticipationDate.ToShortDateString()
		<br />
		Your participation amount: @Model.ParticipationAmount SEK
		<br />
		Your participation has generated @Model.ParticipationSumGenerated SEK
		<br />
		Your participation can be refunded from @Model.ParticipationEndDate?.ToShortDateString()
	</p>
	<br />
	<br />
	<input class="button-egen" type="submit" value="Convert to donation" />

	<p>The value of IsRefundable: @Model.IsRefundable</p>
	
	<div id="refund">
		<form asp-controller="Participations" asp-action="DeleteParticipation" asp-route-id="@Model.ParticipationId">
			<input class="button-egen" type="submit" value="Refund" />
		</form>
	</div>
</div>
<br />
<br />