@using The_Gifters.Views.Participations;
@model MyParticipationsVM
@{
	ViewData["Title"] = "My Contributions";
}
@Html.Partial("_LoggedInMenu")
@Html.Partial("_Logo")

<input type="submit" value="Participate" />

<h4>Your active contributions</h4>

@foreach (var item in Model.Participations)
{

    <div class="active-participations">
        
        <h3 class="panel-title">
            <a asp-controller="Participations" asp-action="Details" asp-route-id="@item.ParticipationId"> @item.OrganizationName</a>
                
        </h3>
        
        <i>
            <p class="participationamount">Participation @item.ParticipationAmount SEK</p>
        </i>
        
        <p class="panel-title">@item.OrganizationDescription</p>
        
    </div>
}

<p>You have generated <i>@Model.RunningTotal</i> SEK in contributions to your chosen organizations. Thank you for your help!</p>
<p>Together, Give For Life participants have contributed 100 000 SEK to different organizations.</p>