@using The_Gifters.Views.Participations;
@model MyParticipationsVM
@{
	ViewData["Title"] = "My Contributions";
}
@Html.Partial("_LoggedInMenu")

<a class="my-participations-button"  asp-controller="Participations" asp-action="Participate">Participate</a>
<div class="my-participations-wrapper">
	<div class="active-participations">
		<h3>Your active contributions</h3>
		@foreach (var item in Model.Participations)
		{
			<div class="active-participations-item">
				<p>
					You are seeding @item.ParticipationAmount SEK to the<a asp-controller="Participations" asp-action="Details" asp-route-id="@item.ParticipationId"> @item.OrganizationName</a>
					<br /><i><font size="2">The participation has contributed @item.ContributionAmount SEK</font></i>
				</p>
			</div>
		}
	</div>
	<div class="generted-wrapper">
	<div class="user-have-generated">
		<h3>You have generated</h3>
		<p>You have generated <i>@Model.RunningTotalUser</i> SEK in contributions to your chosen organizations. Thank you for your help!</p>
	</div>
	<div class="we-have-generated">
		<h3>We have generated</h3>
		<p>Together, Give For Life participants have contributed <i>@Model.RunningTotalAll</i> SEK to different organizations. Let's do even more!</p>
	</div>
	</div>
</div>
<br />
<br />