@using The_Gifters.Views.Participations;
@model ParticipateVM
@{
	ViewData["Title"] = "Participate";
}
@Html.Partial("_LoggedInMenu")
@Html.Partial("_Logo")

<h3>New participation</h3>

<form asp-controller="Participations" asp-action="CreateParticipation">
	<label class ="sign-in-and-register-label-egen" asp-for="Amount"></label>
	<input class="create-input-egen" asp-for="Amount" />
	<span asp-validation-for="Amount"></span>
	<label class="sign-in-and-register-label-egen" asp-for="OrganizationNames">Organization</label>
	<select class="create-input-egen" id="drpEmpList" class="form-control" 
		asp-for="@Model.SelectedOrganizationName"
		asp-items="@Model.OrganizationNames">
	</select>
	<span asp-validation-for="@Model.SelectedOrganizationName"></span>


	<br />
	<br />
	<br />
	<input class="button-egen" type="submit" name="refundable" value="Refundable (12 months)"/>
	<input class="button-egen" type="submit" name="donation" value="Donate (no refund)" />
	<p id="output"></p>
</form>

<div asp-validation-summary=All></div>

<script>
	var output = document.getElementById("output");
	var amount = document.getElementById("Amount");

	amount.addEventListener("change", function () {
		output.innerText = parseInt(amount.value) + " SEK will generate approximately " + parseInt(amount.value) * 0.05 + " SEK in contributions per year.";
	});
</script>